/* styles/style.css */

body {
  width: 1100px;
  height: 3028px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  width: 1100px;
  height: 293px;
  margin: 0 auto;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  text-align: right;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 135px;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
  margin-right: 60px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-left: 28px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  margin-right: 50px;
}

.lots {
  width: 1100px;
  height: 579px;
  margin: 100px auto 0;
  padding: 0 50px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1.2;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
}

.about {
  width: 1100px;
  height: 494px;
  margin: 100px auto 0;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 95px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  width: 1100px;
  height: 105px;
  margin: 100px auto 0;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
}

.footer__address {
  font-style: normal;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
