.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 92px 50px;
  color: #000;
}

.nav {
  justify-self: start;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-item {
  font-size: 18px;
  list-style: circle;
}

.nav-item_no-bullit {
  list-style: none;
}

.nav-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.nav-link_active {
  border-bottom: none;
}

.logo {
  width: 148px;
  justify-self: center;
}

.logo-image {
  width: 100%;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  justify-self: end;
}

.address-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover-title {
  position: relative;
  z-index: 1;
  margin-bottom: 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.title-line {
  display: block;
  margin-top: 20px;
  margin-right: -0.3em;
}

.title-line_center {
  text-align: center;
}

.title-line_right {
  text-align: right;
}

.cover-bottom {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover-btn {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 24px 0;
}

.lots-title {
  margin-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.card-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  line-height: 1.2;
  background-position: center;
  background-size: cover;
}

.card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-desc {
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.more-link {
  display: block;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 155px 24px 180px;
  color: #000;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 50%;
  background-color: #000;
}

.about-logo-img {
  width: 148px;
}

.about-title {
  margin: 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px;
  color: #000;
  font-size: 18px;
}

.contacts {
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
}

.contact-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer-nav {
  text-align: center;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer-link_active {
  border-bottom: none;
}

.social {
  display: flex;
  gap: 48px;
  list-style: none;
}

.social-link {
  display: block;
  text-decoration: none;
}

.social-icon {
  width: 48px;
  height: 48px;
}
