.header {
  display: grid;
  align-items: center;
  width: 1100px;
  padding: 92px 50px;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "menu logo address";
}

.header__menu {
  grid-area: menu;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  grid-area: logo;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  grid-area: address;
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
}

/* Cover */
.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  width: 1100px;
  padding: 180px 50px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 563px;
  padding: 50px 40px;
  color: white;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1.2;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  width: 1100px;
  padding: 0 50px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  width: 1100px;
  padding: 0 50px 90px;
}

.footer__address {
  justify-self: start;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
