/* styles/style.css */

body {
  width: 1100px;
  height: 180px; /* Высота всего сайта */
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  overflow: hidden; /* Скрываем всё что выходит за пределы */
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 10px 50px; /* Минимальные отступы */
  width: 1100px;
  height: 30px; /* Высота header */
  margin: 0 auto;
}

.header__links-list {
  display: flex;
  gap: 10px;
  list-style: circle;
  font-size: 8px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 40px;
  height: 28px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  font-style: normal;
  line-height: 1;
  text-align: right;
  font-size: 8px;
}

.cover {
  position: relative;
  width: 1100px;
  height: 60px; /* Высота cover */
  margin: 0 auto;
  padding: 5px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.aligned-text {
  display: block;
  letter-spacing: 0.06em;
}

.aligned-text_center {
  text-align: center;
  margin-right: 15px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.12em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 6px;
  text-transform: uppercase;
  word-spacing: 3px;
  margin-left: 7px;
}

.bet-button {
  padding: 2px 8px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 6px;
  text-transform: uppercase;
  margin-right: 12px;
}

.lots {
  width: 1100px;
  height: 40px; /* Высота lots */
  margin: 0 auto;
  padding: 3px 50px;
}

.lots__heading {
  font-size: 8px;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}

.lots__card-list {
  display: flex;
  gap: 5px;
  list-style: none;
  margin-bottom: 3px;
}

.lots__card-list-item {
  width: 80px;
  height: 30px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3px 5px;
  color: #fff;
  background-size: cover;
  background-position: center;
  font-size: 4px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-size: 5px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1;
}

.card__text {
  position: relative;
  font-size: 4px;
  line-height: 1;
}

.lots__look-more-link {
  font-size: 4px;
  margin-left: 0;
}

.about {
  width: 1100px;
  height: 30px; /* Высота about */
  margin: 0 auto;
  padding: 2px 50px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 3px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 auto;
}

.about__logo-image {
  width: 12px;
  height: 9px;
}

.about__title {
  font-size: 8px;
  text-transform: uppercase;
  margin: 3px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 4px;
  line-height: 1;
}

.footer {
  width: 1100px;
  height: 20px; /* Высота footer */
  margin: 0 auto;
  padding: 2px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 4px;
}

.footer__address {
  font-style: normal;
  line-height: 1;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 1px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 8px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 8px;
  height: 8px;
}
