
* {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  padding: 0;
}

/* Header */
.header {
  display: grid;
  width: 1100px;
  height: 105px;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu {
  justify-self: start;
  width: 388px;
  height: 24px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__links-list-item {
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  list-style: circle;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: flex-end;
  width: 240px;
  height: 72px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  margin: 0;
}

/* Cover */
.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 355px;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_left {
  text-align: left;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  margin: 0 0 20px 90px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 52px;
  margin-top: 115px;
  gap: 78px;
}

.cover__description-text {
  width: 268px;
  height: 52px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
  line-height: 28px;
  margin: 0;
}

.bet-button {
  width: 257px;
  height: 52px;
  background: transparent;
  cursor: pointer;
  font-style: normal;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 32px;
  border: 1px solid #fff;
  margin: 0;
}

/* Lots */
.lots {
  width: 1100px;
  height: 774px;
  margin: 180px auto 181px;
  padding: 0 50px;
}

.lots__heading {
  width: 179px;
  height: 47px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 0 0 30px 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  height: 563px;
  flex: 1;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  background-size: cover;
  background-position: center;
  padding: 50px 40px;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  width: 254px;
  height: 68px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
  margin: 0;
}

.card__text {
  position: relative;
  z-index: 2;
  width: 254px;
  height: 72px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 120%;
  margin: 0;
}

.lots__look-more-link {
  width: 194px;
  height: 24px;
  font-size: 20px;
  margin: 30px 0 0 40px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  cursor: pointer;
  display: inline-block;
}

/* About */
.about {
  width: 1100px;
  height: 646px;
  margin: 0 auto 180px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 0 95px;
}

.about__logo-background {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  width: 885px;
  height: 446px;
  margin-top: 100px;
}

.about__title {
  width: 131px;
  height: 47px;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 100px 0;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 885px;
  height: 299px;
}

.about__paragraph {
  width: 885px;
  height: 117px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  margin: 0;
}

/* Footer */
.footer {
  width: 1100px;
  height: 97px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 0 50px 90px;
  color: #000000;
}

.footer__address {
  justify-self: start;
  width: 240px;
  height: 97px;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.address__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.address__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  margin: 0;
}

.footer__menu {
  justify-self: center;
  width: 149px;
  height: 72px;
  margin: 0;
  padding: 0;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-content: start;
  text-align: center;
  margin: 0;
  padding: 0;
  gap: 0;
}

.footer__menu-list-item {
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
  line-height: 24px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link:not(.footer__menu-link_active) {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: end;
  width: 240px;
  height: 48px;
}

.footer__social-list-item {
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
