/* styles/style.css */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px;
  margin: 0 auto;
  width: 1100px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-position: under;
  text-underline-offset: 4px;
  max-width: 240px;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 127px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
  padding-right: 60px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  width: 1100px;
  margin: 180px auto 0;
  padding: 0 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #FFF;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-underline-position: under;
  text-underline-offset: 5px;
}

.about {
  width: 1100px;
  margin: 181px auto 0;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 100px 0 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  width: 1100px;
  margin: 180px auto 90px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
}

.footer__address {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-position: under;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-underline-position: under;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-underline-position: under;
}

img {
  width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
}
