/* styles/style.css */

/* Global */
body {
  max-width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

/* Header */
.header {
  display: grid;
  max-width: 1100px;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 0 50px;
  margin: 0 auto;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32px;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 138px;
}

.header__links-list-item {
  cursor: pointer;
  font-size: 18px;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  list-style: circle;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: flex-end;
  margin-top: 2px;
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

.header__address-text {
  padding-right: 5px;
}

/* Cover */
.cover {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-top: 20px;
  padding-left: 331px;
}

.aligned-text_right {
  padding-top: 20px;
  padding-left: 613px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  word-spacing: 19px;
  text-wrap: nowrap;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
}

.bet-button {
  background: transparent;
  cursor: pointer;
  font-style: normal;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  min-width: 257px;
}

/* Lots */
.lots {
  max-width: 1100px;
  margin: 180px auto 120px;
  padding: 0 50px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 64px 29px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: stretch;
}

.lots__card-list-item {
  width: 334px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  padding: 46px 40px 35px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
}

.card__text {
  position: relative;
  z-index: 2;
  padding: 0 40px 50px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  margin: 0 0 0 64px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  cursor: pointer;
}

/* About */
.about {
  max-width: 1100px;
  margin: 0 auto 180px;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 359px 1fr;
}

.about__logo {
  padding: 32px 0 0 47px;
}

.about__logo-background {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  margin: 133px 0 0 0;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 100px 0;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #000;
  margin: 0;
}

.paragraph_1 {
  padding-right: 5px;
}

/* Footer */
.footer {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-content: start;
  padding: 0 50px 82px;
  color: #000000;
}

.footer__address {
  justify-self: start;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.address__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.address__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.footer__menu {
  justify-self: center;
  margin: 0;
  padding: 0;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-content: start;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link:not(.footer__menu-link_active) {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
