/* styles/style.css */

body {
  width: 180px;
  height: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  width: 180px;
  height: 150px;
  margin: 0 auto;
  gap: 5px;
}

.header__links-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: circle;
  font-size: 6px;
  text-align: center;
  padding: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 30px;
  height: 21px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  font-style: normal;
  line-height: 1;
  text-align: center;
  font-size: 5px;
}

.cover {
  position: relative;
  width: 180px;
  height: 200px;
  margin: 0 auto;
  padding: 10px 5px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.aligned-text {
  display: block;
  letter-spacing: 0.05em;
}

.letter-spacing-extended {
  letter-spacing: 0.1em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.cover__description-text {
  font-size: 6px;
  text-transform: uppercase;
  text-align: center;
}

.bet-button {
  padding: 2px 6px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 6px;
  text-transform: uppercase;
}

.lots {
  width: 180px;
  height: 300px;
  margin: 0 auto;
  padding: 10px 5px;
}

.lots__heading {
  font-size: 8px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  text-align: center;
}

.lots__card-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin-bottom: 5px;
  padding: 0;
}

.lots__card-list-item {
  width: 170px;
  height: 80px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 5px;
  color: #fff;
  background-size: cover;
  background-position: center;
  font-size: 5px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-size: 6px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1;
}

.card__text {
  position: relative;
  font-size: 5px;
  line-height: 1;
}

.lots__look-more-link {
  font-size: 5px;
  text-align: center;
  display: block;
}

.about {
  width: 180px;
  height: 250px;
  margin: 0 auto;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 25px;
  height: 19px;
}

.about__title {
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 5px;
  line-height: 1.1;
  text-align: center;
}

.footer {
  width: 180px;
  height: 200px;
  margin: 0 auto;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 5px;
}

.footer__address {
  font-style: normal;
  line-height: 1;
  text-align: center;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 2px;
  padding: 0;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
}

.footer__social-icon {
  width: 10px;
  height: 10px;
}
