.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  border-bottom: 1px solid currentColor;
}

.header__links-list-item_no-bullit {
  border-bottom: none;
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  max-width: 240px;
}

.address {
  font-style: normal;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/cover.jpg) center/cover no-repeat;
  color: #fff;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 30px;
  margin-bottom: 135px;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 1.27;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid currentColor;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1;
  min-width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: center/cover no-repeat;
}

.card_type_film {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  line-height: 1.2;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 95px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 0 50px 90px;
}

.footer__address {
  font-style: normal;
  line-height: 1.35;
  justify-self: start;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  margin-bottom: 5px;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
