.header {
    display: grid;
    align-items: center;
    width: 1100px;
    height: 293px;
    gap: 36px;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "list list list logo . address address";
}

.nav {
    grid-area: list;
}

.header .nav_list, .address {
    width: max-content;
    font-style: normal;
}

.nav_list {
    justify-content: end;
    width: 100%;
    list-style-type: circle;
    list-style-position: inside;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav_list li:first-child {
    list-style: none;
}

.current_page {
    text-decoration: none;
}

.logo {
    grid-area: logo;
    width: 148px;
}

.address {
    grid-area: address;
    max-width: 240px;
}

.address_list {
    list-style: none;
}

.cover {
    width: 1100px;
    height: 757px;
    padding: 0;
    margin: 0;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
}

.cover .title {
    margin: 165px 50px 106px 50px;
    height: 50%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    font-family: Raleway;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100px;
}

.line {
    letter-spacing: 0.3em;
    margin-right: -0.3em;
 }

.line_left {
    align-self: flex-start;
 }

.line_center {
    align-self: center;
 }

.line_right {
    align-self: flex-end;
    text-align: end;
 }

.cover .description {
    width: 1000px;
    height: 51px;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.cover .description .p {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    word-spacing: 5px;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
 }

.button {
    width: 256px;
    height: 100%;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 22px;
 }

.lots {
    width: 1052px;
    height: 723px;
    padding: 0;
    margin: 180px auto 120px;
}

.lots .title {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    justify-items: center;
    color: white;
    width: 334px;
    height: 596px;
    padding: 48px 40px;
}

.card:nth-child(1) {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/card-lot-01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:nth-child(2) {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/card-lot-02.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:nth-child(3) {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/card-lot-03.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_title {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 130%;
}

.card_description {
    font-size: 20px;
    font-weight: normal;
    line-height: 120%;
}

.show_more {
    display: block;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 30px;
    margin-left: 40px;
}

.about {
    width: 1052px;
    height: 595px;
    padding: 0px;
    margin: 120px auto 180px;
    display: grid;
    padding-top: 35px;
    padding-left: 47px;
    grid-template-areas: 
    "image p p"
    ". p p";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.img_container {
    width: 240px;
    height: 240px;
    color: black;
    border-radius: 50%;
    border: solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: image;
}

.logo_img {
    object-fit: contain;
    width: 148px;
    height: 114px;
    overflow: hidden;
}

.about_text {
    display: flex;
    flex-direction: column;
    width: 693px;
    gap: 24px;
    justify-content: flex-end;
    grid-area: p;
}

.about_text .h2 {
    margin-bottom: 80px;
    font-size: 40px;
    text-transform: uppercase;
}

.about_text .p {
    font-size: 20px;
    line-height: 24px;
}

.footer {
    padding: 0px 50px;
    margin: 180px 0px 0px 0px;
    display: grid;
    align-items: start;
    width: 1100px;
    height: 180px;
    gap: 48px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "address address address nav social social social";
}

.footer .nav {
    grid-area: nav;
}

.footer .nav_list {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 165px;
    list-style: none;
    line-height: 10px;
    flex-direction: column;
}

.social_networks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 48px;
    grid-area: social;
    list-style: none;
}

.social_networks li img {
    object-fit: contain;
    width: 48px;
    height: 48px;
}
