
* {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  padding: 0;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  margin: 0;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__links-list-item {
  font-size: 18px;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  list-style: circle;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  max-width: 240px;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Cover */
.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
  margin: 20px 0;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
}

/* Lots */
.lots {
  padding: 0 50px;
  margin: 180px 0;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.lots__card-list-item {
  flex: 1;
  min-height: 563px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-decoration: none;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
}

.lots__look-more-link {
  font-size: 20px;
  margin: 30px 0 0 40px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px;
  margin: 0 0 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
}

.about__logo-background {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  margin-top: 100px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__paragraph {
  font-size: 20px;
  margin: 0;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px 90px;
}

.footer__address {
  font-style: normal;
  justify-self: start;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
