.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  text-underline-offset: 4px;
  font-weight: 400;
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  cursor: default;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  width: 240px;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  padding: 165px 50px 135px 50px;
  text-transform: uppercase;
  position: relative;
} 

.aligned-text_center {
  text-align: center;
  line-height: 115%;
}

.aligned-text_right {
  text-align: right;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 50px 50px 50px;
  gap: 78px;
}

.cover__description-text {
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #FFF;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
}

.card__text {
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-style: normal;
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 3px;
  text-transform: lowercase;
  color: black;
}

.about {
  padding: 180px 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 90px;
  align-items: start;
} 

.footer__menu-list {
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  list-style: none;
  text-underline-offset: 3px;
  line-height: normal;
}

.footer__address {
  list-style: none;
  text-underline-offset: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  justify-self: start;
}

.footer__menu-link_active {
  text-decoration: none;
  cursor: default;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
