/* styles/style.css */

/* БЛОК HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  width: 1100px;
  margin: 0 auto;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  text-underline-offset: 4px;
  font-weight: 400;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  cursor: default;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  width: 240px;
  text-underline-offset: 4px;
}

/* БЛОК COVER */
.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  padding: 165px 50px 106px 50px;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
  line-height: 115%;
}

.aligned-text_right {
  text-align: right;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 50px 50px;
  gap: 78px;
}

.cover__description-text {
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

/* БЛОК LOTS */
.lots {
  width: 1052px;
  margin: 180px auto 0;
  padding: 0 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #FFF;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin-left: 40px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 3px;
  color: black;
}

/* БЛОК ABOUT */
.about {
  width: 1052px;
  margin: 180px auto 0;
  padding: 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 72px;
  padding-left: 47px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

/* БЛОК FOOTER */
.footer {
  width: 1100px;
  margin: 180px auto 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 0 50px 90px;
  align-items: start;
}

.footer__address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
  cursor: default;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/* Global styles */
body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

a {
  color: inherit;
  text-underline-offset: 4px;
}

button {
  cursor: pointer;
}
